html,
body {
  height: 100%;
  overflow: hidden;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  font: 14px "微软雅黑";
}
a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}
img {
  display: block;
}
.subHead {
  display: none;
}
@keyframes move {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
@keyframes music {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrap canvas {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s opacity;
  z-index: 10;
}
#wrap .list {
  position: absolute;
  width: 100%;
  height: 100%;
}
#wrap .list .first {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/b.png') no-repeat;
  transition: 2s transform;
  background-size: 100% 100%;
}
#wrap .list .first .firstText {
  position: absolute;
  left: 30%;
  top: 65%;
  font-size: 30px;
  color: white;
}
#wrap .list .first .firstText li {
  transition: 2s transform,2s opacity;
}
#wrap .list .second {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/c.png') no-repeat;
  transition: 2s transform;
  background-size: 100% 100%;
}
#wrap .list .second .secondLg .secondLg1 {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 45px;
  height: 45px;
  background: url('../img/c1.png') no-repeat;
  transition: 2s transform;
  background-size: 100%,100%;
}
#wrap .list .second .secondLg .secondLg2 {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 45px;
  height: 45px;
  background: url('../img/c2.png') no-repeat;
  transition: 2s transform;
  background-size: 100%,100%;
}
#wrap .list .second .secondLg .secondLg3 {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 45px;
  height: 45px;
  background: url('../img/c3.png') no-repeat;
  transition: 2s transform;
  background-size: 100%,100%;
}
#wrap .list .second .secondLg .secondLg4 {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 45px;
  height: 45px;
  background: url('../img/c4.png') no-repeat;
  transition: 2s transform;
  background-size: 100%,100%;
}
#wrap .list .second .secondLg .secondLg5 {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 45px;
  height: 45px;
  background: url('../img/c5.png') no-repeat;
  transition: 2s transform;
  background-size: 100%,100%;
}
#wrap .list .second .secondLg .secondLg6 {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 45px;
  height: 45px;
  background: url('../img/c6.png') no-repeat;
  transition: 2s transform;
  background-size: 100%,100%;
}
#wrap .list .third {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/d.png') no-repeat;
  transition: 2s transform;
  background-size: 100% 100%;
}
#wrap .list .third .third1 {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 230px;
  height: 111px;
  margin-left: -115px;
  transition: 2s transform;
  background: url(../img/d1.png) no-repeat;
  background-size: 100%,100%;
}
#wrap .list .fourth {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/e.png') no-repeat;
  transition: 2s transform;
  background-size: 100% 100%;
}
#wrap .list .fourth .fourth1 {
  font-size: 11px;
  color: white;
  border: 1px #FFF solid;
  box-shadow: 0 0 8px #FFF;
  border-radius: 3px;
  word-wrap: break-word;
  position: absolute;
  overflow: hidden;
  transition: 2s width,2s height;
  width: 120px;
  height: 130px;
  left: 4%;
  top: 15%;
}
#wrap .list .fourth .fourth2 {
  font-size: 11px;
  color: white;
  border: 1px #FFF solid;
  box-shadow: 0 0 8px #FFF;
  border-radius: 3px;
  word-wrap: break-word;
  position: absolute;
  overflow: hidden;
  transition: 2s width,2s height;
  width: 160px;
  height: 100px;
  left: 50%;
  top: 19%;
}
#wrap .list .fourth .fourth3 {
  font-size: 11px;
  color: white;
  border: 1px #FFF solid;
  box-shadow: 0 0 8px #FFF;
  border-radius: 3px;
  word-wrap: break-word;
  position: absolute;
  overflow: hidden;
  transition: 2s width,2s height;
  width: 55px;
  height: 140px;
  left: 78%;
  top: 40%;
}
#wrap .list .fifth {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/f.png') no-repeat;
  transition: 2s transform;
  background-size: 100% 100%;
}
#wrap .arrow {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 45px;
  height: 26px;
  background: url(../img/arr.png) no-repeat;
  background-size: 100%,100%;
  margin-left: -23px;
  transition: 1s all;
  animation: 1s move linear infinite ;
  z-index: 5;
}
#wrap .music {
  position: absolute;
  left: 90%;
  top: 2%;
  width: 25px;
  height: 25px;
  background-color: red;
  background: url(../img/music.png) no-repeat;
  background-size: 100%,100%;
  z-index: 5;
}
#wrap .musicMove {
  animation: 1s music linear infinite;
}
#wrap .xyz {
  z-index: 1;
}
#wrap .dqz {
  z-index: 2;
}
